body {
    display: flex;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

#app {
    width: 70%;
    max-width: 1500px;
    min-width: 600px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.room-list h2 {
    font-size: 40px;
}

.room-list ul {
  list-style-type: none;
  padding: 0;
}

.room-list li {
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 30px;
  justify-content: center;
  text-align: center;
}

.room-list li:hover {
  background-color: #e0e0e0;
}

.room-messages {
    display: flex;
    flex-direction: column;
    max-height: 100%;
    width: 100%;
}

.room-title {
    flex-shrink: 0;
    font-size: 24px;
    margin-bottom: 10px;
}

.messages-container {
    flex-grow: 1;
    max-height: 500px;
    overflow-y: auto;
    padding-right: 10px;
}

.room-messages ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow-y: auto;
    max-height: calc(100vh - 200px);
}

.room-messages li {
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.room-messages form {
    display: flex;
    margin-top: 20px;
}

.room-messages input {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 8px 0 0 8px;
    outline: none;
}

.room-messages button {
    padding: 10px 20px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 0 8px 8px 0;
    cursor: pointer;
    background-color: #007bff;
    color: #ffffff;
}

.room-messages button:hover {
    background-color: #0056b3;
}

.room-messages .message-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.room-messages .message-actions {
    display: flex;
    gap: 10px;
}

.room-messages .message-author {
    font-weight: bold;
    margin-left: 10px;
}

.room-messages .message-actions button {
    padding: 5px 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    background-color: #007bff;
    color: #ffffff;
}

.room-messages .message-actions button:hover {
    background-color: #0056b3;
}
